USE [Training]
GO
/****** Object:  Table [dbo].[JOB_DEPARTMENT_TBL]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_DEPARTMENT_TBL](
	[DEP_ID] [int] NOT NULL,
	[TITLE] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_DTL_TBL]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_DTL_TBL](
	[JOB_DTL_ID] [int] NOT NULL,
	[CODE] [varchar](50) NULL,
	[LOCATION] [varchar](50) NOT NULL,
	[DEPARTMENT] [varchar](50) NOT NULL,
	[POSTEDDATE] [date] NULL,
	[CLOSINGDATE] [date] NULL,
 CONSTRAINT [PK_JOB_DTL_TBL] PRIMARY KEY CLUSTERED 
(
	[JOB_DTL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_LOCATION_TBL]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_LOCATION_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[ZIP] [varchar](10) NULL,
	[LOC_ID] [int] NULL,
 CONSTRAINT [PK_LOCATION_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_TBL]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_TBL](
	[JOB_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NULL,
	[LOCATIONID] [int] NULL,
	[DEPARTMENTID] [int] NULL,
	[CLOSINGDATE] [date] NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [PK_JOB_TBL] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JOB_DEPARTMENT_TBL] ([DEP_ID], [TITLE]) VALUES (2085, N'Software Dev')
INSERT [dbo].[JOB_DEPARTMENT_TBL] ([DEP_ID], [TITLE]) VALUES (2084, N'Software Test')
INSERT [dbo].[JOB_DEPARTMENT_TBL] ([DEP_ID], [TITLE]) VALUES (2086, N'Software Management')
GO
INSERT [dbo].[JOB_DTL_TBL] ([JOB_DTL_ID], [CODE], [LOCATION], [DEPARTMENT], [POSTEDDATE], [CLOSINGDATE]) VALUES (1, N'JOB-01', N'UK', N'Web Development', CAST(N'2022-03-12' AS Date), CAST(N'2022-04-21' AS Date))
INSERT [dbo].[JOB_DTL_TBL] ([JOB_DTL_ID], [CODE], [LOCATION], [DEPARTMENT], [POSTEDDATE], [CLOSINGDATE]) VALUES (2, N'JOB-02', N'India', N'Web Testing', CAST(N'2022-03-12' AS Date), CAST(N'2022-04-21' AS Date))
INSERT [dbo].[JOB_DTL_TBL] ([JOB_DTL_ID], [CODE], [LOCATION], [DEPARTMENT], [POSTEDDATE], [CLOSINGDATE]) VALUES (3, N'JOB-03', N'Pakistan', N'Web Managment', CAST(N'2022-03-12' AS Date), CAST(N'2022-04-21' AS Date))
GO
SET IDENTITY_INSERT [dbo].[JOB_LOCATION_TBL] ON 

INSERT [dbo].[JOB_LOCATION_TBL] ([ID], [TITLE], [CITY], [STATE], [COUNTRY], [ZIP], [LOC_ID]) VALUES (1, N'US Head office', N'Balitmore', N'MD', N'US', N'21202', 10030)
INSERT [dbo].[JOB_LOCATION_TBL] ([ID], [TITLE], [CITY], [STATE], [COUNTRY], [ZIP], [LOC_ID]) VALUES (2, N'India Head Ofiice', N'Mapusa', N'GOa', N'India', N'403507', 10031)
INSERT [dbo].[JOB_LOCATION_TBL] ([ID], [TITLE], [CITY], [STATE], [COUNTRY], [ZIP], [LOC_ID]) VALUES (3, N'Pakistan Head Office', N'CityA', N'StateA', N'Pakistan', N'112458', 10032)
SET IDENTITY_INSERT [dbo].[JOB_LOCATION_TBL] OFF
GO
SET IDENTITY_INSERT [dbo].[JOB_TBL] ON 

INSERT [dbo].[JOB_TBL] ([JOB_ID], [TITLE], [LOCATIONID], [DEPARTMENTID], [CLOSINGDATE], [DESCRIPTION]) VALUES (1, N'Software Engineer', 10030, 2085, CAST(N'2022-04-21' AS Date), N'Full Stack Developer')
INSERT [dbo].[JOB_TBL] ([JOB_ID], [TITLE], [LOCATIONID], [DEPARTMENTID], [CLOSINGDATE], [DESCRIPTION]) VALUES (2, N'Senior Software Developer', 10031, 2084, CAST(N'2022-04-20' AS Date), N'Full stack Developer')
INSERT [dbo].[JOB_TBL] ([JOB_ID], [TITLE], [LOCATIONID], [DEPARTMENTID], [CLOSINGDATE], [DESCRIPTION]) VALUES (3, N'Software Engineer', 10032, 2086, CAST(N'2022-04-15' AS Date), N'Back-End Developer')
SET IDENTITY_INSERT [dbo].[JOB_TBL] OFF
GO
ALTER TABLE [dbo].[JOB_TBL]  WITH CHECK ADD  CONSTRAINT [FK_JOB_TBL_JOB_TBL] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[JOB_TBL] ([JOB_ID])
GO
ALTER TABLE [dbo].[JOB_TBL] CHECK CONSTRAINT [FK_JOB_TBL_JOB_TBL]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_JOB_DTLS]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[USP_GET_JOB_DTLS]
	@JobId INT NULL
	--@DepartmentId INT NULL
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TMPCUSTOMER TABLE (
		 ID INT PRIMARY KEY IDENTITY(1, 1)
		 ,JOB_ID INT 
		,CODE VARCHAR(100)
		,TITLE VARCHAR(100)
		,LOCATION VARCHAR(50) NOT NULL
		,DEPARTMENT VARCHAR(50) NOT NULL
		,POSTEDDATE DATE NULL
		,CLOSINGDATE DATE NULL
		)


		INSERT INTO @TMPCUSTOMER (
			 JOB_ID  
			,CODE
			,TITLE 
			,LOCATION 
			,DEPARTMENT
			,POSTEDDATE
			,CLOSINGDATE
			)
		SELECT JOB_ID
			,CODE
			,TITLE
			,LOCATION
			,DEPARTMENT
			,POSTEDDATE
			,JT.CLOSINGDATE
		FROM DBO.JOB_TBL JT
		INNER JOIN [dbo].[JOB_DTL_TBL] JDT on JT.JOB_ID = JDT.JOB_DTL_ID
		WHERE JOB_ID = @JobId; 
	 

	SELECT JOB_ID  
			,CODE
			,TITLE 
			,LOCATION 
			,DEPARTMENT
			,POSTEDDATE
			,CLOSINGDATE
	FROM @TMPCUSTOMER

	

END


--Select * from [ADDRESS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_JOB_LIST]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[USP_GET_JOB_LIST]
	@LocationId INT NULL,
	@DepartmentId INT NULL
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TMPCUSTOMER TABLE (
		 ID INT PRIMARY KEY IDENTITY(1, 1)
		 ,JOB_ID INT 
		,CODE VARCHAR(100)
		,TITLE VARCHAR(100)
		,LOCATION VARCHAR(50) NOT NULL
		,DEPARTMENT VARCHAR(50) NOT NULL
		,POSTEDDATE DATE NULL
		,CLOSINGDATE DATE NULL
		)


		INSERT INTO @TMPCUSTOMER (
			 JOB_ID  
			,CODE
			,TITLE 
			,LOCATION 
			,DEPARTMENT
			,POSTEDDATE
			,CLOSINGDATE
			)
		SELECT JOB_ID
			,CODE
			,TITLE
			,LOCATION
			,DEPARTMENT
			,POSTEDDATE
			,JT.CLOSINGDATE
		FROM DBO.JOB_TBL JT
		INNER JOIN [dbo].[JOB_DTL_TBL] JDT on JT.JOB_ID = JDT.JOB_DTL_ID
		WHERE LOCATIONID = @LocationId or DEPARTMENTID = @DepartmentId;
	 

	SELECT JOB_ID  
			,CODE
			,TITLE 
			,LOCATION 
			,DEPARTMENT
			,POSTEDDATE
			,CLOSINGDATE
	FROM @TMPCUSTOMER

	

END


--Select * from [ADDRESS]
GO
/****** Object:  StoredProcedure [dbo].[USP_INS_UPD_JOBS]    Script Date: 4/21/2022 2:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_INS_UPD_JOBS]
	-- Add the parameters for the stored procedure here
	@Id INT NULL,
	@Title varchar(MAX),
	@Description varchar(MAX),
	@LocationId varchar(50),
	@DepartmentId varchar(50),
	@ClosingDate varchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  IF(@Id = 0)
  BEGIN
  INSERT INTO [dbo].[JOB_TBL]
           (TITLE
           ,DESCRIPTION
           ,LOCATIONID
           ,DEPARTMENTID
           ,CLOSINGDATE)
     VALUES
           (@Title
           ,@Description
           ,@LocationId
           ,@DepartmentId
           ,@ClosingDate
           )
	END
	ELSE
	BEGIN
	if exists(select JOB_ID from JOB_TBL where JOB_ID = @Id)
	BEGIN
	UPDATE [dbo].[JOB_TBL] set TITLE = @Title,DESCRIPTION = @Description,LOCATIONID = @LocationId, DEPARTMENTID = @DepartmentId, CLOSINGDATE = @ClosingDate
	WHERE JOB_ID = @Id;
	END
	END
END
GO
